server:
  port: 8080
  servlet:
    context-path: /api

spring:
  datasource:
    url: "jdbc:mysql://127.0.0.1:3306/sport_database"
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  signerKey: "58242ea255084e90898781e7807ef38c133ae417acd124956609f828883401c9"